<h1>Name: <%= @blogger.name %></h1><br>
<h3>Age: <%= @blogger.age %></h3><br>
<h3>Bio: </h3><br>
<p><%= @blogger.bio %></p><br>

<h3>Total Likes: <%= @likes %></h3><br>
<h3>Featured Post: <%= @featured %></h3><br>
